<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="analyses"
            label="COM_MKARTA_CONFIG_ANALYSES_SETTINGS_LABEL"
            description="COM_MKARTA_CONFIG_ANALYSES_SETTINGS_DESC"
    >
        <field
                name="show_category"
                type="radio"
                label="COM_MKARTA_ANALYSIS_FIELD_SHOW_CATEGORY_LABEL"
                description="COM_MKARTA_ANALYSIS_FIELD_SHOW_CATEGORY_DESC"
                default="0"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
    </fieldset>
</config>